* {
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    grid-gap: .1%;
    background-color: rgb(0, 0, 0);
}

button {
    padding: 1px;
    font-size: 100%;
    text-align: center;
    height: 300px;

  }

.clear {
    clear: both;
}

.x {
    float: left;
}

.grid {
    float: left;


}